#backToTop{
    .openChat{
        cursor: pointer;
        max-width: 35px;
        position: fixed;
        z-index: 240;
        display: flex;
        flex-direction: column;
        align-items: center;
        filter: drop-shadow(0 .16rem .24rem #0005);
        bottom: 1%;
        right: 1%;
    }
    svg{
        width: 100%;
        max-width: 24px;
    }
    
}