#foodMenu {
    margin: 20px 0;

    .foodMenuContent {
        flex-direction: column;

        .bread {
            padding: 18px 12px;
            @include text;

            a {
                color: rgba($color: $black, $alpha: .8)
            }

            i {
                padding: 0 12px;
            }

            span {
                color: rgba($color: $black, $alpha: .5);
            }
        }

        .foodinfo {
            .imgWrapper {
                overflow: hidden;
            }

            .bigPic {
                padding: 4px;

                .pic {
                    padding-bottom: 76.5%;
                    background-image: url(@/assets/images/foodMenu1.png);
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: cover;
                }
            }

            .smallPic {
                padding: 4px;

                img {
                    width: 100%;

                }
            }

            .menuText {
                display: flex;
                flex-direction: column;
                gap: 20px;
            }

            .titleAndStar {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 6px 0;
                padding: 4px;
                @include text;
                color: $black;

                h2 {
                    @include h2;
                    font-size: 30px;
                }

                span {
                    color: gray;
                }
            }

            .contentText {
                display: flex;
                align-items: center;
                @include text;
                color: gray;
                letter-spacing: .02rem;

                i {
                    margin-right: 8px;
                }

                .showMap {
                    color: $black;
                    text-decoration: underline;
                }

                .starbucks {
                    color: gray;
                }

                span {
                    color: $mp;
                    margin-right: 6px;
                }
            }
        }

        .menuWrapper {
            .tagsWrapper {
                display: flex;
            }

            .tags {
                display: flex;
                align-items: center;
                justify-content: center;
                @include text;
                letter-spacing: .02rem;
                width: 132px;
                height: 48px;
                transition: all .3s ease-in;
                position: relative;
                background-color: $white;
                padding: 30px 12px;
                cursor: pointer;

                .underline {
                    display: block;
                    position: absolute;
                    width: 132px;
                    height: 2px;
                    transition: 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
                    background-color: $mp;
                    bottom: 0;
                    left: 0;

                }
            }

            .tabActive {
                color: $mp;

                &:hover {
                    background-color: rgba($color: $mp, $alpha: .1);
                }
            }

            .viewWrapper {
                display: flex;
                // flex-wrap: nowrap;
                margin-top: 20px;
                .viewItem{
                    width: 100%;
                }
                .boxWrapper {
                    display: flex;
                    position: relative;

                }

                .typeOfProd {
                    @include text;
                    width: 280px;
                    height: 100%;
                    transition: all .3s ease-in;
                    position: relative;
                    top: 0;
                    left: 0px;
                    background-color: $white;
                    z-index: 5;

                    i {
                        padding: 12px;
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        cursor: pointer;

                        @include T {
                            display: none;
                        }
                    }


                }

                .mobileType {
                    position: fixed;
                    transition: left 3s cubic-bezier(0.075, 0.82, 0.165, 1);
                    z-index: 10;
                }

                .mobileType::after {
                    display: block;
                    position: fixed;
                    top: 0;
                    right: 0;
                    content: '';
                    width: calc(100% - 280px);
                    height: 100%;
                    background-color: rgba($color: $black, $alpha: .5);
                    z-index: 4;

                    @include T {
                        display: none;
                    }
                }

                .typeContent {
                    cursor: pointer;
                    margin: 10px 0;
                    position: relative;
                    @include text;
                    color: rgba($color: $black, $alpha: .6);

                    &:hover {
                        color: $black;
                    }

                    .activeLine {
                        position: absolute;
                        display: block;
                        width: 2px;
                        height: 16px;
                        transition: 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
                        background-color: $mp;
                        top: 0;
                        right: 0;

                    }
                }

                .prodList {
                    border-left: 1px solid rgba($color: $black, $alpha: .05);
                    padding: 0 12px;
                    width: 100%;

                    .openType {
                        display: flex;
                        gap: 10px;
                        justify-content: center;
                        align-items: center;
                        @include text;
                        letter-spacing: .1rem;
                        border-radius: 4px;
                        color: $white;
                        padding: 8px 16px;
                        background-color: rgba($color: $mp, $alpha: 1);
                        border: none;
                        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);

                        @include T {
                            display: none;
                        }

                    }

                    .prodContent {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        flex-wrap: wrap;

                        .prodCard {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            .prodPic {
                                border-radius: 4px;
                                width: 150px;
                                height: 150px;
                                background: url(@/assets/images/popular4.jpg) no-repeat center/cover;
                                margin: 8px;
                            }

                            .prodText {
                                display: flex;
                                flex-direction: column;
                                @include text;
                                gap: 10px;

                                p {
                                    display: flex;
                                    gap: 5px;
                                    @include text;

                                    .twentyFive {
                                        color: rgba($color: $black, $alpha: .5);
                                        text-decoration: line-through;
                                    }

                                    .twentyTwo {
                                        color: $black;
                                    }

                                    .cost10 {
                                        color: $mp;
                                    }
                                }

                                .mustTry {
                                    background-color: rgba($color: $black, $alpha: .05);
                                    width: fit-content;
                                    padding: 5px 10px;
                                    border-radius: 100px;
                                    @include text;
                                    font-size: 12px;
                                }
                            }


                        }

                        .add {
                            cursor: pointer;
                            background-color: rgba($color: $white, $alpha: 0);
                            border: 1px solid rgba($color: $mp, $alpha: 1);
                            color: $mp;
                            padding: 5px 15px;
                            border-radius: 4px;

                            &:hover {
                                background-color: rgba($color: $mp, $alpha: .1);
                            }
                        }
                    }
                }

                #tab2 {
                    display: flex;
                    flex-direction: column;
                    @include T {
                        flex-direction: row;
                    }
                    .inputWrapper {
                        input {
                            width: 100%;
                            // max-width: 50%;
                            flex: 0 0 50%;
                        }
                        .bookBtn {
                            display: flex;
                            gap: 10px;
                            justify-content: center;
                            align-items: center;
                            @include text;
                            letter-spacing: .1rem;
                            border-radius: 4px;
                            color: $white;
                            padding: 8px 16px;
                            background-color: rgba($color: $mp, $alpha: 1);
                            border: none;
                            box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
                            margin: 8px 4px;

                        }
                        select {
                            width: 100%;
                            // max-width: 585px;
                            overflow: hidden;
                            padding: 12px;
                            margin: 8px 2px;
                            border-radius: 4px;
                            border: 1px solid rgba($color: $black, $alpha: .2);
                            @include text;
                        }

                        .inputBox {
                            padding: 12px;
                            margin: 8px 2px;
                            border-radius: 4px;
                            border: 1px solid rgba($color: $black, $alpha: .2);
                            @include text;
                        }
                    }

                    .imgBox {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                }
                #tab3{
                    .board{
                        .allMsg{
                            @include text;
                            display: flex;
                            flex-direction: column;
                            gap: 20px;
                            margin: 20px 0;
                            .avatorName{
                                display: flex;
                                gap: 10px;
                            }
                            .stars{
                                display: flex;
                                gap: 12px;
                                p{
                                    font-weight: bold;
                                }
                                span{
                                    color: rgba($color: $black, $alpha: .7);
                                }
                            }
                            .message{
                                color: rgba($color: $black, $alpha: .7);
                            }
                            .messageImg{
                                display: flex;
                                align-items: center;
                                gap: 20px;
                                img{
                                    width: 100%;
                                    vertical-align: top;
                                    max-width: 45%;
                                }
                            }
                            .like{
                                color: rgba($color: $black, $alpha: .7);
                            }
                            .likeCommentBtn{
                                position: relative;
                                @include text;
                                display: flex;
                                // padding: 10px;
                                margin: 10px;
                                align-items: center;
                                button{
                                    
                                    border-radius: 4px;
                                    padding:4px 8px;
                                    cursor: pointer;
                                    display: flex;
                                    align-items: center;
                                    gap: 10px;
                                    border: none;
                                    background-color: rgba($color: $white, $alpha: 0);
                                    transition:all 1s ease cubic-bezier();
                                    &:hover{
                                        background-color: rgba($color: $black, $alpha: 0.1);
                                    }

                                }
                            }
                            .likeCommentBtn::before{
                                content: '';
                                position: absolute;
                                height: 1px;
                                width: 100%;
                                bottom: -10px;
                                left: 0;
                                background-color: rgba($color: $black, $alpha: .2);
                                display: block;
                            }
                            .msgReply{
                                display: flex;
                                flex-direction: column;
                                gap: 20px;
                                margin: 10px 0;
                                position: relative;
                                .replyAvator{
                                    display: flex;
                                    align-items: center;
                                    gap: 10px;
                                    color: $black;
                                    img{
                                        width: 100%;
                                        max-width: 30px;
                                    }
                                    h3{
                                        font-size: 14px;
                                    }
                                }
                                .replyContent{
                                    color: rgba($color: $black, $alpha: .7);
                                }
                                
                            }
                            .msgReply:last-child::after{
                                content: '';
                                position: absolute;
                                height: 1px;
                                width: 100%;
                                bottom: -20px;
                                left: 0;
                                background-color: rgba($color: $black, $alpha: .2);
                                display: block;

                            }
                        }
                    }

                    .imgBox{
                        background: url(@/assets/images/download-app.c757568.png) no-repeat center / cover;
                        padding-bottom: 83.8961%;
                    }

                }


            }
        }
    }
}